.container{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}


.canvas{
  display: grid;
  width: 40%;
  aspect-ratio: 9/19.5;
  margin: 0 auto;
  border-radius: 25px;
}

.maker{
  text-align: center;
  padding-block-end: 1rem;
}

.control__panel {
  height: 60vh;
  overflow-y: auto;
}

.sliders{
  padding: 1rem;
}