@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    background: rgb(20,39,97);
    background: linear-gradient(10deg, rgba(20,39,97,1) 0%, rgba(3,3,15,1) 100%);
    color: white;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Helvetica-neue, sans-serif;
    font-weight: 300;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    width: 60%;
    margin: 0 auto;
    padding: 4rem;
    flex-wrap: wrap;
}

li{
    list-style-type: none;
}

.header__info{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    text-align: center;
}

.header__title{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 6vw;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    margin-block-end: 6rem;
}

.nav__element{
    text-decoration: none;
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
}

.nav__element:hover{
    color: #ff5e00;
}

#underline{
    text-decoration: underline;
}

.card__container{
    display: flex;
    flex-direction: row;
    width: 15vw;
    background-color: white;
    padding: 1rem;
    border-radius: 1.5rem;
    gap: 1rem;
}

.card__container .canvas{
    width: 5vw;
    border-radius: 1rem;

}

.card__container h3{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    color: white;
    text-decoration: none;

}

.back__button{
    background-color: #ff5e00;
    color: white;
    border: none;
    padding: .6rem;
    border-radius: 1rem;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    text-decoration: none;
    margin-inline-end: 1rem;
}


/* APP CSS */

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  
  }
  
  
  .canvas{
    display: grid;
    width: 40%;
    aspect-ratio: 9/19.5;
    margin: 0 auto;
    border-radius: 25px;
  }
  
  .maker{
    text-align: center;
    padding-block-end: 1rem;
    
  }
  
  .sliders{
    padding: 1rem;
  }

  .control__panel {
    height: 60vh;
    overflow-y: auto;
    /* background-color: purple;    */
    padding: 2rem;
    border-radius: 25px;
    border: white 2px solid;
    display: flex;
    flex-flow: column;
  }
  
  .maker__title{
    margin: 2rem auto;
    font-weight: 200;
    font-family: inter, sans-serif;
    font-size: 1.3rem
  }

  .control_group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .control__name{
    margin-left: 1.3em;
    padding: 0;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 3px solid white;
    height: 30px;
  }

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
    padding: 1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    display: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /*artwork detail*/

  .detail__container{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 auto;
  }

  .canvas{
    width: 15vw;
  }

  

/* login */

.login__text{
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    margin: 2rem;
}

.login__container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    color: black;
}

.shake {
  animation: var(--animation-shake-x) forwards;
  animation-duration: 0.5s;
}

.profile__information{
    text-align: center; 
    line-height: 2rem;
}